* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
}

/* Dark Mode Default */
.dark-mode {
    background-color: #000;
    color: #fff;
}

/* Light Mode After Click the modeBtn  */
.light-mode {
    background-color: #F5F4F4;
    color: #000;
}

body.light-mode nav {
    background-color: #fff;
    box-shadow: -1px 2px 30px 0px rgba(67, 67, 67, 0.1);
}

/* Light Mode Button */
body.light-mode .mode {
    background-color: #000;
    color: #fff;
}

/* Light Mode Cards */
body.light-mode .card {
    background-color: rgba(255, 255, 255);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.093);
}

body.light-mode .btn1 {
    background-color: #000;
}

body.light-mode .btn2 {
    background-color: #00000084;
}

body.light-mode .result {
    background-color: #fff;
    border: 1px solid #d7d7d7;
    box-shadow: -1px 2px 40px 3px #e7e7e7a4;
}

body.light-mode .btn2:hover {
    background-color: #000;
    color: #fff;
}

body.light-mode .card:hover {
    /* background-color: rgb(65, 33, 183); */
    background-color: #FF822D;
    color: white;
}


body.light-mode .cross-btn svg {
    color: #000;
}

.dark-mode .cross-btn svg path {
    fill: #fff;  
}

.dark-mode .all-result {
    background-color:  rgba(67, 67, 67, 0.42);
}

.dark-mode .all-result h5 {
    border: 1px solid #ffffff0b;
}

.dark-mode .player-1 {
    background-color:  rgba(67, 67, 67, 0.42);
    border: 1px solid #ffffff0b;
}

.dark-mode .player-2 {
    background-color:  rgba(67, 67, 67, 0.42);
    border: 1px solid #ffffff0b;
}

.dark-mode .all-result-heading {
    background-color: #000;
}

.dark-mode .total-matches {
    background-color: rgba(255, 0, 0, 0.897);
}

/* Navigation */
nav {
    width: 100%;
    /* height: 3vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .7em 1.5rem;
    background-color:  rgba(67, 67, 67, 0.42);
    box-shadow: -1px 2px 40px #ffffff46;
    border: 1px solid #ffffff2a;
    border-radius: .6rem;
    font-weight: 900;
}

.theme {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

.logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.mode {
    box-shadow: 0px 2px 4px 2px rgba(67, 67, 67, 0.1);
}

/* Theme Button */
.mode {
    padding: .5rem 1rem;
    background-color: white;
    border-radius: .4rem;
    color: #000;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    /* display: none; */
    position: relative;
}

/* box container */
.game {
    height: 18rem;
    width: 18rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #d7d7d74f; */
    transition: all linear;
}

/* Cards */
.card {
    width: 33.3%;
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    cursor: pointer;
    border: 1px solid #ffffff17;
    background-color: rgba(67, 67, 67, 0.42);
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.round1 {
    border-radius: .4rem 0 0 0;
}

.round2 {
    border-radius: 0 .4rem 0 0;
}

.round3 {
    border-radius: 0 0 0 .4rem;
}

.round4 {
    border-radius: 0 0 .4rem 0;;
}

/* Hover Effect */
.card:hover {
    background-color: #7979798f;
}

button{
    user-select: none;
}

.btn1, .btn2 {
    width: 100%;
    /* height: 8vh; */
    padding: .6rem 0;
    background-color: #162d4a;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: .4rem;
}

.btn2 {
    background-color: rgba(67, 67, 67, 0.42);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    color: #ffffffe3;
}

.btn2 button {
    cursor: pointer;
}

.result {
    width: 25vw;
    height: auto;
    background-color: rgba(67, 67, 67, 0.42);
    box-shadow: -1px 2px 40px 3px #0f336059;
    border: 1px solid #ffffff2a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 1rem;
    padding: 0rem .6rem .6rem .6rem;
    display: none;
}

.cross-btn {
    width: 100%;
    padding: .6rem 0rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cross-btn button svg {
    cursor: pointer;
    color: #fff;
}

.congrats {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.congrats h2 {
    font-size: 2.3vw;
    font-weight: 900;
}

.msg {
    width: 100%;
    /* background-color: red; */
    padding: 1.5rem 0rem;
    line-height: 1.3;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.msg h6 {
    font-size: 1.8vw;
    font-weight: 400;
}

.msg p {
    font-weight: 200;
}

.res-btn {
    width: 100%;
    padding: .5rem 0;
    /* background-color: #00000084; */
    background-color: #00000084;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: .6rem;
}

.res-btn button {
    cursor: pointer;
    font-weight: 900;
}

.all-result {
    width: 20%;
    height: auto;
    background-color: white;
    box-shadow: -1px 2px 20px 3px rgba(67, 67, 67, 0.1);
    border: 1px solid #ffffff2a;
    border-radius: .6rem;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-6%, 55%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    gap: .7rem;
}

.all-result h5 {
    width: 100%;
    padding: .5rem;
    border-radius: .4rem;
    /* background-color: #00000084; */
    background-color: #000;
    color: #fff;
    font-size: 1.4vw;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    justify-content: center;
    border: 1px solid #d7d7d74f;
}

.player-1 {
    display: flex;
    justify-content: space-between;
    padding: .5rem .8rem;
    border-radius: .4rem;
    background-color: #e1dede58;
    width: 100%;
    border: 1px solid #d7d7d74f;
    font-weight: 400;
}

.player-2 {
    display: flex;
    justify-content: space-between;
    padding: .5rem .8rem;
    border-radius: .4rem;
    background-color: #e1dede58;
    width: 100%;
    border: 1px solid #d7d7d74f;
    font-weight: 400;
}

.total-matches {
    display: flex;
    justify-content: space-between;
    padding: .5rem .8rem;
    border-radius: .4rem;
    background-color: #E1DEDE;
    width: 100%;
    border: 1px solid #d7d7d74f;
    font-weight: 700;
}

@media (max-width: 768px) {
    .game {
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 40px 0px rgba(67, 67, 67, 0.1);
    }
    main {
        padding: 8rem 0rem;
    }
    .card {
        width: 30vw;
        height: 15vh;
    }
    .btn1, .btn2 {
        font-size: 4vw;
        height: 6vh;
    }
    .result {
        display: none;
        width: 90%;
        height: auto;
        padding: .5rem .5rem .7rem .5rem;
    }
    .congrats{
        padding: 0;
        /* background-color: red; */
    }
    .msg {
        /* background-color: green; */
        padding: 0rem;
    }
    .congrats h2:nth-child(2) {
        display: none;
    }
    .congrats h2 {
        font-size: 8vw;
    }
    .msg h6 {
        font-size: 7vw;
    }
    .msg p {
        font-size: 5vw;
    }
    .msg {
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .res-btn {
        padding: .8rem;
        background-color: #000;
    }
    .res-btn button {
        font-size: 4vw;
    }
    nav {
        padding: .7rem 1rem;
    }
    .all-result {
        display: none;
    }
    .mode {
        padding: .4rem .8rem;
    }
}